.icon-button, .icon-button:hover, .icon-button:focus {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit !important;
  margin: 0;
  padding: 0;
}