window.env = {
  "environment": "development",
  "firebase": "https://yourfirebase.firebaseIO.com",
  "api": "https://your.rest.api.com",
  "stripe": {
      "pk": "pk_test_ASDFDASFDADSFDSDF"
    }
};