<h1 class="padded-row text-center">Welcome to Quiver Invoice <br><strong>It's Nice To See You.</strong></h1>

<br>
<br>

<div class="padded-row centered">
    <h2>Profile is {{ percentComplete | percentage }} Complete</h2>
    <div>
        Fill in more details in <a ui-sref="settings">you settings</a> to complete your profile.
    </div>

</div>

<br>

<div class="centered">
    <hr>
    <h2>Invoices Created</h2>

    <table class="small-12" ng-cloak>
        <thead>
        <tr>
            <th>Date</th>
            <th>Project</th>
            <th>Number</th>
            <th>Total</th>
            <th>Recipient</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(id, invoice) in user.invoices" ng-hide="id == 'next'">
            <td>{{ invoice.details.date | date }}</td>
            <td>{{ invoice.details.project }}</td>
            <td>{{ invoice.details.number }}</td>
            <td>{{ invoice.details.total }}</td>
            <td>{{ invoice.details.email }}</td>
            <td>{{ invoice.details.state }}</td>
            <td>
                <a ui-sref="invoice({id: id})">View</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">
                <a class="right" ui-sref="invoice({id: 'new'})">Create an invoice</a>
            </td>
        </tr>
        </tfoot>
    </table>
</div>




<div class="centered" ng-show="user.payments">

    <hr>

    <h2 class="centered">Invoices Paid</h2>

    <table class="centered small-12" ng-cloak>
        <thead>
        <tr>
            <th>Date</th>
            <th>Project</th>
            <th>Number</th>
            <th>Total</th>
            <th>Recipient</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(id, invoice) in user.payments" ng-hide="id == 'next'">
            <td>{{ invoice.details.date | date }}</td>
            <td>{{ invoice.details.project }}</td>
            <td>{{ invoice.details.number }}</td>
            <td>{{ invoice.details.total }}</td>
            <td>{{ invoice.details.email }}</td>
            <td>{{ invoice.details.state }}</td>
            <td>
                <a ui-sref="payment({id: id})">View</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7"></td>
        </tr>
        </tfoot>
    </table>
</div>
