<h1 class="padded-row text-center">Welcome to Quiver Invoice <br><strong>It's Nice To See You.</strong></h1>

<br>
<br>

<div class="padded-row">
    <h2 class="centered">Invoices</h2>
    <div class="centered">
        <p>
            Write an invoice creation page. It will let user's create invoices under /users/{ID}/invoices.
            These invoices will be world-readable but only writeable by the user that created it and an admin
            user who will mark it complete after processing the payment. That admin user's id will be hardcoded
            into Firebase's rule set.
        </p>
        <br>
        <p>
            List invoices on this dashboard. Enable the user to do some basic inline edit as create and delete.
            Full edits will probably go back to the same template that the invoice creator uses, but instead of
            "create" it will have a "save" button.
        </p>
        <br>
        <p>
            Create an invoice payment view. It will display the invoice and provide a place to input credit card
            details. When the server processes the payment, it will mark the invoice as paid, at which point the
            rule set will not allow any more writing to that invoice. Reading will not be affected.
        </p>
        <br>
        <p>
            Next steps include enabling users to save credit cards to be used for payments on site. This will
            involve tracking payments made and the associated invoices, thereby enabling users to pay each others'
            invoices with saved payment information.
        </p>
    </div>

</div>

<table class="centered medium-12">
    <thead>
        <tr>
            <th>Date</th>
            <th>Project</th>
            <th>Number</th>
            <th>Total</th>
            <th>Recipient</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(id, invoice) in user.invoices" ng-hide="id == 'next'">
            <td>{{ invoice.date | date }}</td>
            <td>{{ invoice.project }}</td>
            <td>{{ invoice.number }}</td>
            <td>{{ invoice.total }}</td>
            <td>{{ invoice.email }}</td>
            <td>{{ invoice.state }}</td>
            <td>
                <a ui-sref="invoice({id: id})">View</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <!--<td>{{ user }}</td>-->
        </tr>
    </tfoot>
</table>