<h1 class="padded-row text-center">
    <span ng-show="id">Edit Invoice</span>
    <span ng-hide="id">Create Invoice</span>
</h1>

<br>
<br>

<div class="padded-row">

    <form class="centered" action name="invoiceForm" novalidate>
        <h2 class="centered">Invoice #{{ invoice.number }} Details</h2>
        <div class="row">
            <div class="large-6 medium-12">
                <label for="invoice-date">Date</label>
                <input id="invoice-date" type="date" ng-model="invoice.date" value="{{ invoice.date }}" ng-change="invoice.$save()" required/>
            </div>
            <div class="large-6 medium-12">
                <label for="invoice-project">Project</label>
                <input id="invoice-project" type="text" ng-model="invoice.project" ng-change="invoice.$save()"/>
            </div>
        </div>

        <hr>

        <div class="row">
            <h2 class="centered">Recipient Details</h2>

            <div class="large-6 medium-12">
                <label for="invoice-recipient-name">Name</label>
                <input id="invoice-recipient-name" type="text" ng-model="invoice.name" ng-change="invoice.$save()" required/>
            </div>
            <div class="large-6 medium-12">
                <label for="invoice-recipient-email">Email</label>
                <input id="invoice-recipient-email" type="email" ng-model="invoice.email" ng-change="invoice.$save()" required/>
            </div>
            <div class="large-6 medium-12">
                <label for="invoice-recipient-address">Address</label>
                <textarea id="invoice-recipient-address" ng-model="invoice.address" ng-change="invoice.$save()"></textarea>
            </div>
        </div>

        <hr>

        <div class="row">
            <h2>Itemized Invoice</h2>

            <table class="invoice-items medium-12">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="item-row" ng-repeat="item in invoice.items track by item.id">
                        <td>{{ item.id }}</td>
                        <td>
                            <input type="text" ng-model="item.name" required/>
                        </td>
                        <td>
                            <input type="text" ng-model="item.description"/>
                        </td>
                        <td>
                            <input type="number" ng-model="item.quantity" ng-change="calculateTotal()" required/>
                        </td>
                        <td>
                            <input type="number" ng-model="item.rate" ng-change="calculateTotal()" required/>
                        </td>
                        <td>
                            <span class="item-amount">{{ item.quantity * item.rate | currency}}</span>
                        </td>
                        <td>
                            <button class="button tiny" ng-click="removeItem(item)">Remove</button>
                        </td>
                    </tr>
                    <tr class="new-item-row item-row">
                        <td></td>
                        <td>
                            <input type="text" ng-model="newItem.name"/>
                        </td>
                        <td>
                            <input type="text" ng-model="newItem.description"/>
                        </td>
                        <td>
                            <input type="number" ng-model="newItem.quantity"/>
                        </td>
                        <td>
                            <input type="number" ng-model="newItem.rate"/>
                        </td>
                        <td>
                            <span id="item-amount">{{ newItem.quantity * newItem.rate | currency}}</span>
                        </td>
                        <td>
                            <button class="button tiny" ng-click="addItem(newItem)" ng-disabled="!newItem.name || !newItem.quantity || !newItem.rate">Add</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="background-white" colspan="5"></td>
                        <td colspan="2">
                            <span class="left">Total:</span>
                            <span class="right">{{ invoice.total | currency }}</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <button class="button" ng-click="create(invoice)" ng-hide="id">Create</button>
            <button class="button" ng-click="create(invoice, true)" ng-show="id">Copy</button>
            <button class="button" ng-click="remove(id)" ng-show="id">Delete</button>
            <button class="button" ng-click="send(loggedInUser, id)" ng-show="id" ng-disabled="invoiceForm.$invalid || !invoice.total">Send Invoice</button>

        </div>
    </form>

</div>