<h1 class="padded-row text-center">
    <span ng-show="id">
        <span ng-hide="invoice.details.state == 'paid'">Edit Invoice</span>
        <span ng-show="invoice.details.state == 'paid'">Review Invoice</span>
    </span>
    <span ng-hide="id">Create Invoice</span>
</h1>

<br>
<br>

<div class="padded-row">

    <form class="centered" action name="invoiceForm" qv-disable="" novalidate>
        <fieldset ng-disabled="invoice.details.state == 'paid'">
            <h2 class="centered">Invoice #{{ invoice.details.number }} Details</h2>
            <div class="row">
                <div class="large-6 small-12 column required">
                    <label for="invoice-date">Date</label>
                    <input id="invoice-date" type="date" ng-model="invoice.details.date" value="{{ invoice.details.date }}" ng-change="invoice.$save()" required/>
                </div>
                <div class="large-6 small-12 column">
                    <label for="invoice-project">Project</label>
                    <input id="invoice-project" type="text" ng-model="invoice.details.project" ng-change="invoice.$save()" placeholder="Project name..."/>
                </div>
            </div>

            <hr>

            <div class="row">
                <h2 class="centered">Sender Details</h2>

                <div class="large-6 small-12 column required">
                    <label for="invoice-sender-name">Name</label>
                    <input id="invoice-sender-name" type="text" ng-model="invoice.details.sender.name" ng-change="invoice.$save()" placeholder="Sender name..." required/>
                </div>
                <div class="large-6 small-12 column required">
                    <label for="invoice-sender-email">Email</label>
                    <input id="invoice-sender-email" type="email" ng-model="invoice.details.sender.email" ng-change="invoice.$save()" placeholder="Sender email..." required/>
                </div>
                <div class="small-12 column required">
                    <label for="invoice-sender-pk">Stripe Publishable Key</label>
                    <input id="invoice-sender-pk" type="text" ng-model="invoice.details.sender.pk" ng-change="invoice.$save()" placeholder="Stripe publishable key..." required/>
                </div>
                <div class="small-12 column">
                    <label for="invoice-sender-address">Address</label>
                    <textarea id="invoice-sender-address" ng-model="invoice.details.sender.address" ng-change="invoice.$save()" placeholder="Sender address..."></textarea>
                </div>
            </div>

            <hr>

            <div class="row">
                <h2 class="centered">Recipient Details</h2>

                <div class="large-6 small-12 column required">
                    <label for="invoice-recipient-name">Name</label>
                    <input id="invoice-recipient-name" type="text" ng-model="invoice.details.recipient.name" ng-change="invoice.$save()" placeholder="Recipient name..." required/>
                </div>
                <div class="large-6 small-12 column required">
                    <label for="invoice-recipient-email">Email</label>
                    <input id="invoice-recipient-email" type="email" ng-model="invoice.details.recipient.email" ng-change="invoice.$save()" placeholder="Recipient email..." required/>
                </div>
                <div class="small-12 column">
                    <label for="invoice-recipient-address">Address</label>
                    <textarea id="invoice-recipient-address" ng-model="invoice.details.recipient.address" ng-change="invoice.$save()" placeholder="Recipient address..."></textarea>
                </div>
            </div>

            <hr>

            <div class="row" ng-hide="invoice.details.token || invoice.details.state == 'paid'">
                <h2>Itemized Invoice</h2>

                <div class="data-table small-12">
                    <div ng-repeat="item in invoice.details.items">
                        <div class="row header">
                            <div class="column small-12">
                                Item #{{ item.id }}
                            </div>

                        </div>

                        <div class="row">
                            <div class="column small-3">
                                <label for="name-{{ $index }}">Name</label>
                                <input id="name-{{ $index }}" type="text" ng-model="item.name" placeholder="Name..." required/>
                            </div>
                            <div class="column small-9">
                                <label for="description-{{ $index }}">Description</label>
                                <input id="description-{{ $index }}" type="text" ng-model="item.description" placeholder="Description..."/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column small-4">
                                <label for="quantity-{{ $index }}">Quantity</label>
                                <input id="quantity-{{ $index }}" type="number" ng-model="item.quantity" ng-change="calculateTotal()" required/>
                            </div>
                            <div class="column small-4">
                                <label for="rate-{{ $index }}">Rate</label>
                                <input id="rate-{{ $index }}" type="number" ng-model="item.rate" ng-change="calculateTotal()" required/>
                            </div>
                            <div class="column small-4">
                                <label for="action-{{ $index }}">&nbsp;</label>
                                <button id="action-{{ $index }}" class="button tiny alert" ng-click="removeItem(item)">Remove</button>
                            </div>
                        </div>
                    </div>

                    <div id="new-item">
                        <div class="row header">
                            <div class="column small-12">
                                New Item
                            </div>
                        </div>
                        <div class="row">
                            <div class="column small-3">
                                <label for="name">Name</label>
                                <input id="name" type="text" ng-model="newItem.name"/>
                            </div>
                            <div class="column small-9">
                                <label for="description">Description</label>
                                <input id="description" type="text" ng-model="newItem.description"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column small-4">
                                <label for="quantity">Quantity</label>
                                <input id="quantity" type="number" ng-model="newItem.quantity"/>
                            </div>
                            <div class="column small-4">
                                <label for="rate">Rate</label>
                                <input id="rate" type="number" ng-model="newItem.rate"/>
                            </div>
                            <div class="column small-4">
                                <label for="action">&nbsp;</label>
                                <button id="action" class="button tiny" ng-click="addItem(newItem)" ng-disabled="!newItem.name || !newItem.quantity || !newItem.rate">Add</button>
                            </div>

                        </div>
                    </div>

                    <div class="row footer">

                        <div class="column small-6 medium-3">
                            <span class="left">Total:</span>
                            <span class="right">{{ invoice.details.total | currency }}</span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row" ng-hide="invoice.details.state == 'paid'">
                <div class="alert-box warning" ng-hide="user.settings.stripe.sk">
                    Your account does not have a Stripe Secret Key. Please save your Stripe Secret Key in your
                    <a ui-sref="settings">settings</a> to send an invoice.
                </div>

                <div class="alert-box" ng-show="subscription.empty">
                    You cannot send an invoice without a valid subscription. Enter your payment information and
                    select a plan in your <a ui-sref="settings">settings</a>.
                </div>


                <button class="button" ng-click="create(invoice)" ng-hide="id">Create</button>
                <button class="button" ng-click="create(invoice, true)" ng-show="id">Copy</button>
                <button class="button alert" ng-click="remove(id)" ng-show="id">Delete</button>
                <button class="button secondary" ng-click="send(loggedInUser, id)" ng-show="id" ng-disabled="invoiceForm.$invalid || !invoice.details.total || !user.settings.stripe.sk || subscription.empty">
                    <span ng-show="invoice.details.state == 'created'">Send Invoice</span>
                    <span ng-show="invoice.details.state == 'sent' || invoice.details.state == 'card'">Re-Send Invoice</span>
                </button>
                <a class="button secondary" ng-show="invoice.details.state == 'sent' || invoice.details.state == 'card'" ui-sref="pay({userId: loggedInUser.id, invoiceId: id})">View Invoice</a>
            </div>
        </fieldset>


    </form>

    <div class="row centered" ng-show="invoice.details.token || invoice.details.state == 'paid'">
        <h2>Itemized Invoice</h2>

        <div class="data-table small-12">
            <div ng-repeat="item in invoice.details.items">
                <div class="row header">
                    <div class="column small-12">
                        Item #{{ item.id }}
                    </div>

                </div>

                <div class="row">
                    <div class="column small-3">
                        <label for="name-{{ $index }}-static">Name</label>
                        <span id="name-{{ $index }}-static">{{ item.name }}</span>
                    </div>
                    <div class="column small-9">
                        <label for="description-{{ $index }}-static">Description</label>
                        <span id="description-{{ $index }}-static">{{ item.description }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="column small-3">
                        <label for="quantity-{{ $index }}-static">Quantity</label>
                        <span id="quantity-{{ $index }}-static">{{ item.quantity }}</span>
                    </div>
                    <div class="column small-6">
                        <label for="rate-{{ $index }}-static">Rate</label>
                        <span id="rate-{{ $index }}-static">{{ item.rate }}</span>
                    </div>
                    <div class="column small-3 text-right">
                        <label for="total-{{ $index }}-static">Total</label>
                        <span id="total-{{ $index }}-static">{{ item.quantity * item.rate | currency }}</span>
                    </div>
                </div>
            </div>

            <div class="row footer">

                <div class="column small-6 medium-3 right">
                    <span class="left">Total:</span>
                    <span class="right">{{ invoice.details.total | currency }}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="centered" ng-show="invoice.charge">

        <hr>

        <h2>Charge Complete</h2>

        <div class="row">

            <div class="small-4 column">
                <label for="charge-date">Date</label>
                <span id="charge-date">{{ invoice.charge.created | unix | date }}</span>
            </div>

            <div class="small-4 column">
                <label for="charge-amount">Amount</label>
                <span id="charge-amount">{{ invoice.charge.amount / 100 | currency }}</span>
            </div>

            <div class="small-4 column">
                <label for="charge-card">Card</label>
                <span id="charge-card">Visa: ******{{ invoice.charge.card.last4 }}</span>
            </div>
        </div>

        <div class="row" ng-show="invoice.details.state == 'paid'">
            <br>
            <br>
            <button class="button" ng-click="create(invoice, true)" ng-show="id">Copy</button>
            <a class="button secondary" ui-sref="pay({userId: loggedInUser.id, invoiceId: id})">View Invoice</a>
        </div>
    </div>

</div>