<h1 class="padded-row text-center">
    <span ng-show="id">Edit Invoice</span>
    <span ng-hide="id">Create Invoice</span>
</h1>

<br>
<br>

<div class="padded-row">

    <form class="centered" action name="invoiceForm" qv-disable="" novalidate>
        <fieldset ng-disabled="invoice.details.state == 'paid'">
            <h2 class="centered">Invoice #{{ invoice.details.number }} Details</h2>
            <div class="row">
                <div class="large-6 medium-12">
                    <label for="invoice-date">Date</label>
                    <input id="invoice-date" type="date" ng-model="invoice.details.date" value="{{ invoice.details.date }}" ng-change="invoice.$save()" required/>
                </div>
                <div class="large-6 medium-12">
                    <label for="invoice-project">Project</label>
                    <input id="invoice-project" type="text" ng-model="invoice.details.project" ng-change="invoice.$save()" placeholder="Project name..."/>
                </div>
            </div>

            <hr>

            <div class="row">
                <h2 class="centered">Sender Details</h2>

                <div class="large-6 medium-12">
                    <label for="invoice-sender-name">Name</label>
                    <input id="invoice-sender-name" type="text" ng-model="invoice.details.sender.name" ng-change="invoice.$save()" placeholder="Sender name..." required/>
                </div>
                <div class="large-6 medium-12">
                    <label for="invoice-sender-email">Email</label>
                    <input id="invoice-sender-email" type="email" ng-model="invoice.details.sender.email" ng-change="invoice.$save()" placeholder="Sender email..." required/>
                </div>
                <div class="large-6 medium-12">
                    <label for="invoice-sender-pk">Stripe Publishable Key</label>
                    <input id="invoice-sender-pk" type="text" ng-model="invoice.details.sender.pk" ng-change="invoice.$save()" placeholder="Stripe publishable key..." required/>
                </div>
                <div class="large-6 medium-12">
                    <label for="invoice-sender-address">Address</label>
                    <textarea id="invoice-sender-address" ng-model="invoice.details.sender.address" ng-change="invoice.$save()" placeholder="Sender address..."></textarea>
                </div>
            </div>

            <hr>

            <div class="row">
                <h2 class="centered">Recipient Details</h2>

                <div class="large-6 medium-12">
                    <label for="invoice-recipient-name">Name</label>
                    <input id="invoice-recipient-name" type="text" ng-model="invoice.details.recipient.name" ng-change="invoice.$save()" placeholder="Recipient name..." required/>
                </div>
                <div class="large-6 medium-12">
                    <label for="invoice-recipient-email">Email</label>
                    <input id="invoice-recipient-email" type="email" ng-model="invoice.details.recipient.email" ng-change="invoice.$save()" placeholder="Recipient email..." required/>
                </div>
                <div class="large-6 medium-12">
                    <label for="invoice-recipient-address">Address</label>
                    <textarea id="invoice-recipient-address" ng-model="invoice.details.recipient.address" ng-change="invoice.$save()" placeholder="Recipient address..."></textarea>
                </div>
            </div>

            <hr>

            <div class="row" ng-hide="invoice.details.token">
                <h2>Itemized Invoice</h2>

                <table class="invoice-items medium-12">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="item-row" ng-repeat="item in invoice.details.items">
                        <td>{{ item.id }}</td>
                        <td>
                            <input type="text" ng-model="item.name" required/>
                        </td>
                        <td>
                            <input type="text" ng-model="item.description"/>
                        </td>
                        <td>
                            <input type="number" ng-model="item.quantity" ng-change="calculateTotal()" required/>
                        </td>
                        <td>
                            <input type="number" ng-model="item.rate" ng-change="calculateTotal()" required/>
                        </td>
                        <td>
                            <span class="item-amount">{{ item.quantity * item.rate | currency}}</span>
                        </td>
                        <td>
                            <button class="button tiny alert" ng-click="removeItem(item)">Remove</button>
                        </td>
                    </tr>
                    <tr class="new-item-row item-row">
                        <td></td>
                        <td>
                            <input type="text" ng-model="newItem.name"/>
                        </td>
                        <td>
                            <input type="text" ng-model="newItem.description"/>
                        </td>
                        <td>
                            <input type="number" ng-model="newItem.quantity"/>
                        </td>
                        <td>
                            <input type="number" ng-model="newItem.rate"/>
                        </td>
                        <td>
                            <span id="item-amount">{{ newItem.quantity * newItem.rate | currency}}</span>
                        </td>
                        <td>
                            <button class="button tiny" ng-click="addItem(newItem)" ng-disabled="!newItem.name || !newItem.quantity || !newItem.rate">Add</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="background-white" colspan="5"></td>
                        <td colspan="2">
                            <span class="left">Total:</span>
                            <span class="right">{{ invoice.details.total | currency }}</span>
                        </td>
                    </tr>
                    </tfoot>
                </table>


            </div>
            <div class="row" ng-hide="invoice.details.state == 'paid'">
                <button class="button" ng-click="create(invoice)" ng-hide="id">Create</button>
                <button class="button" ng-click="create(invoice, true)" ng-show="id">Copy</button>
                <button class="button alert" ng-click="remove(id)" ng-show="id">Delete</button>
                <button class="button secondary" ng-click="send(loggedInUser, id)" ng-show="id" ng-disabled="invoiceForm.$invalid || !invoice.details.total">
                    <span ng-show="invoice.details.state == 'created'">Send Invoice</span>
                    <span ng-show="invoice.details.state == 'sent' || invoice.details.state == 'credit card'">Re-Send Invoice</span>
                </button>
                <a class="button secondary" ng-show="invoice.details.state == 'sent' || invoice.details.state == 'credit card'" ui-sref="pay({userId: loggedInUser.id, invoiceId: id})">View Invoice</a>
            </div>
        </fieldset>


    </form>

    <div class="row centered" ng-show="invoice.details.token">
        <h2>Itemized Invoice</h2>

        <table class="medium-12">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in invoice.details.items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.rate }}</td>
                    <td>{{ item.quantity * item.rate | currency }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="background-white" colspan="4"></td>
                    <td colspan="2">
                        <span class="left">Total:</span>
                        <span class="right">{{ invoice.details.total | currency }}</span>
                    </td>
                </tr>
            </tfoot>

        </table>
    </div>

    <div class="centered" ng-show="invoice.charge">

        <hr>

        <h2>Charge Complete</h2>

        <div class="row">

            <div class="medium-4 column">
                <label for="charge-date">Date</label>
                <span id="charge-date">{{ invoice.charge.created | unix | date }}</span>
            </div>

            <div class="medium-4 column">
                <label for="charge-amount">Amount</label>
                <span id="charge-amount">{{ invoice.charge.amount | currency }}</span>
            </div>

            <div class="medium-4 column">
                <label for="charge-card">Card</label>
                <span id="charge-card">Visa: ******{{ invoice.charge.card.last4 }}</span>
            </div>
        </div>

        <div class="row" ng-show="invoice.details.state == 'paid'">
            <br>
            <br>
            <button class="button" ng-click="create(invoice, true)" ng-show="id">Copy</button>
            <a class="button secondary" ui-sref="pay({userId: loggedInUser.id, invoiceId: id})">View Invoice</a>
        </div>
    </div>

</div>