<h1 class="padded-row text-center">Quiver Invoice helps you to <br> <strong>Invoice Clients with a Simple, Focused Interface</strong></h1>

<br>
<br>

<div class="padded-row">
    <h2 class="centered">Invoices Should Be <strong>Cheap</strong></h2>
    <p class="centered">
        Quiver Invoice is entirely <a href="https://github.com/deltaepsilon/quiver-invoice">open source</a>.
        Host it on your own server if you like, or pay us a nominal fee to host it for you. Invoicing is about getting
        paid for your hard work, and we will not get in your way.
    </p>

    <hr class="centered">

    <h2 class="centered">Invoices Should Be <strong>Easy</strong></h2>
    <p class="centered">
        Don't waste time learning a new way to invoice your clients. Use Quiver Invoice to quickly generate dead-simple
        client invoices. We literally won't let you customize more than you need to. Input your client's name and email
        address. Create line items for your client's bill. Click SEND. That's it! You'll get an email when your client
        has paid, and you can see your paid and unpaid invoices in a nice, sortable list.
    </p>

    <hr class="centered">

    <h2 class="centered">Invoices Should Get <strong>Paid</strong></h2>
    <p class="centered">
        Clients like to pay by credit card, and credit cards charge merchants fees which eat into
        your profit margin. Quiver Invoice enables your client print the invoice and pay by check... but if he or she
        needs those American Express reward miles, we process credit card transactions
        <strong>through your own <a href="http://www.stripe.com">Stripe</a> account</strong>. We never touch a dime
        of your money. Just give us your <a href="http://www.stripe.com">Stripe</a> api keys and we'll handle the rest.
    </p>

</div>