<ul class="title-area row padded-row">
    <li class="name">
        <a ui-sref="root" tabindex="1">
            <span ng-hide="loggedInUser">Quiver Invoice</span>
            <span ng-show="loggedInUser">Dashboard</span>
        </a>
    </li>
    <li class="left" ng-show="user">
        <a ui-sref="invoice({id: 'new'})" tabindex="1">New Invoice</a>
    </li>

    <li class="login right">
        <a ui-sref="login" ng-hide="user" rel="nofollow" tabindex="3">
            Log In
        </a>

        <a ng-click="logOut()" ng-show="user" rel="nofollow" tabindex="3">
            Log Out
        </a>
    </li>
    <li class="settings right" ng-show="user">
        <a ui-sref="settings" rel="nofollow" tabindex="2">
            <div class="fi-widget"></div>
            <span class="text-white lowercase">{{ loggedInUser.email }}</span>
        </a>
    </li>

</ul>