<h1 class="padded-row text-center">
    <span ng-show="id">Edit Invoice</span>
    <span ng-hide="id">Create Invoice</span>
</h1>

<br>
<br>

<div class="padded-row centered">

    <h2 class="centered">Invoice #{{ invoice.number }} Details</h2>

    <div class="row">
        <div class="large-6 medium-12">
            <label for="invoice-date">Date</label>
            <span id="invoice-date">{{ invoice.date | date }}</span>
        </div>

        <br>

        <div class="large-6 medium-12">
            <label for="invoice-project">Project</label>
            <span id="invoice-project">{{ invoice.project }}</span>
        </div>
    </div>

    <hr>

    <div class="row">
        <h2 class="centered">Sender Details</h2>

        <div class="large-6 medium-12">
            <label for="invoice-sender-name">Name</label>
            <span id="invoice-sender-name">{{ invoice.sender.name }}</span>
        </div>

        <br>

        <div class="large-6 medium-12">
            <label for="invoice-sender-email">Email</label>
            <span id="invoice-sender-email">{{ invoice.sender.name }}</span>
        </div>

        <br>

        <div class="large-6 medium-12">
            <label for="invoice-sender-address">Address</label>
            <span id="invoice-sender-address">{{ invoice.sender.address }}</span>
        </div>
    </div>

    <hr>

    <div class="row">
        <h2 class="centered">Recipient Details</h2>

        <div class="large-6 medium-12">
            <label for="invoice-recipient-name">Name</label>
            <span id="invoice-recipient-name">{{ invoice.recipient.name }}</span>
        </div>

        <br>

        <div class="large-6 medium-12">
            <label for="invoice-recipient-email">Email</label>
            <span id="invoice-recipient-email">{{ invoice.recipient.name }}</span>
        </div>

        <br>

        <div class="large-6 medium-12">
            <label for="invoice-recipient-address">Address</label>
            <span id="invoice-recipient-address">{{ invoice.recipient.address }}</span>
        </div>
    </div>

    <hr>

    <div class="row">
        <h2>Itemized Invoice</h2>

        <table class="invoice-items medium-12">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr class="item-row" ng-repeat="item in invoice.items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.rate }}</td>
                    <td>{{ item.quantity * item.rate | currency}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="background-white" colspan="4"></td>
                    <td colspan="2">
                        <span class="left">Total:</span>
                        <span class="right">{{ invoice.total | currency }}</span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <hr>

    <div class="row">
        <h2>Credit Card</h2>

        <h3>{{ invoice.token }}</h3>

        <form action name="cardForm">

            <div class="large-6 medium-12 column">
                <label for="card-number">Card Number</label>
                <input id="card-number" class="large-9" name="number" type="number" ng-model="newCard.number" placeholder="Card number..." ng-change="validateCardNumber(newCard.number)" required=""/>
            </div>
            <div class="large-6 medium-12 column">
                <label for="card-cvc">CVC Code</label>
                <input id="card-cvc" name="cvc" type="number" ng-model="newCard.cvc" ng-change="validateCVC(newCard.cvc)" required/>
            </div>
            <div class="large-6 medium-12 column">
                <select class="pull-left" name="month" ng-model="newCard.exp_month" ng-options="months.indexOf(m) as m for m in months"  ng-change="validateMonth(newCard.exp_month)"></select>

            </div>
            <div class="large-6 medium-12 column">
                <select class="pull-right" name="year" ng-model="newCard.exp_year" ng-options="year for year in years"></select>
            </div>
            <div class="medium-6 column">
                <button class="button" ng-click="createToken(invoice, newCard)" ng-disabled="cardForm.$invalid || cardForm.number.$invalid || cardForm.cvc.$invalid || cardForm.exp_month.$invalid || cardForm.month.$pristine">Add Card</button>

                <a href="https://stripe.com/help/security" class="background-powered-by-stripe" rel="nofollow" target="_blank"></a>
            </div>
            <div class="medium-6 column">
                <div class="form-error" ng-show="cardForm.number.$invalid && cardForm.number.$dirty">Invalid card number</div>
                <div class="form-error" ng-show="cardForm.cvc.$invalid && cardForm.cvc.$dirty">Invalid security code</div>
                <div class="form-error" ng-show="cardForm.month.$invalid && cardForm.month.$dirty">Invalid month</div>
                <div class="form-error" ng-show="cardForm.invalidCard">Invalid card details</div>
            </div>

        </form>

    </div>

    <hr>

    <div class="row">

        <div class="medium-6">
            <div ng-hide="invoice.sender.pk">Invoice cannot be paid. Sender missing payment information.</div>
        </div>
    </div>

</div>