<div ng-hide="user">
    <h1 class="padded-row text-center">Log In To Pay</h1>

    <div class="padded-row centered">
        <h2>For your own security</h2>
        <p>
            We wouldn't want anyone paying invoices that weren't sent to them! You're only allowed to pay an invoice
            if you have an account with Quiver Invoice and that account has a matching email address. So go
            <a ui-sref="login">login</a> or <a ui-sref="login">register</a> if you haven't yet. It only takes a second. Promise!
        </p>
    </div>
</div>

<div ng-show="user">
    <h1 class="padded-row text-center">
        <span ng-show="invoice.charge">Review Invoice</span>
        <span ng-hide="invoice.charge">Pay Invoice</span>
    </h1>

    <br>
    <br>

    <div class="padded-row centered">

        <h2 class="centered">Invoice #{{ invoice.details.number }}</h2>

        <div class="row">
            <div class="small-6 column">
                <label for="invoice-date">Date</label>
                <span id="invoice-date">{{ invoice.details.date | date }}</span>
            </div>

            <div class="small-6 column">
                <label for="invoice-project">Project</label>
                <span id="invoice-project">{{ invoice.details.project }}</span>
            </div>
        </div>

        <hr>

        <div class="row">
            <h2 class="centered">Sender</h2>

            <div class="small-6 column">
                <label for="invoice-sender-name">Name</label>
                <span id="invoice-sender-name">{{ invoice.details.sender.name }}</span>
            </div>

            <div class="small-6 column">
                <label for="invoice-sender-email">Email</label>
                <a id="invoice-sender-email" href="mailto:{{ invoice.details.sender.email }}">{{ invoice.details.sender.email }}</a>
            </div>

            <div class="small-12 column">
                <br>
                <label for="invoice-sender-address">Address</label>
                <span id="invoice-sender-address">{{ invoice.details.sender.address }}</span>
            </div>
        </div>

        <hr>

        <div class="row">
            <h2 class="centered">Recipient</h2>

            <div class="small-6 column">
                <label for="invoice-recipient-name">Name</label>
                <span id="invoice-recipient-name">{{ invoice.details.recipient.name }}</span>
            </div>

            <div class="small-6 column">
                <label for="invoice-recipient-email">Email</label>
                <a id="invoice-recipient-email" href="mailto:{{ invoice.details.recipient.email }}">{{ invoice.details.recipient.email }}</a>
            </div>

            <div class="small-12 column">
                <br>
                <label for="invoice-recipient-address">Address</label>
                <span id="invoice-recipient-address">{{ invoice.details.recipient.address }}</span>
            </div>
        </div>

        <hr>

        <div class="row">
            <h2>Itemized Invoice</h2>

            <table class="invoice-items small-12">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr class="item-row" ng-repeat="item in invoice.details.items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.rate }}</td>
                    <td>{{ item.quantity * item.rate | currency}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="background-white" colspan="4"></td>
                    <td colspan="2">
                        <span class="left">Total:</span>
                        <span class="right">{{ invoice.details.total | currency }}</span>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <hr>

        <div ng-hide="invoice.charge.id">
            <div class="row">
                <h2>Credit Card</h2>

                <table class="card-details small-12" ng-show="invoice.details.token">
                    <thead>
                    <tr>
                        <th>Card Number</th>
                        <th>Card Type</th>
                        <th>Expiration Month</th>
                        <th>Expiration Year</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>******{{ invoice.details.token.card.last4 }}</td>
                        <td>{{ invoice.details.token.card.type }}</td>
                        <td>{{ invoice.details.token.card.exp_month }}</td>
                        <td>{{ invoice.details.token.card.exp_year }}</td>
                        <td>
                            <a ng-click="removeToken(invoice)">Remove</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                    </tfoot>
                </table>

                <br>

                <form action name="cardForm">

                    <div class="large-6 small-12 column">
                        <label for="card-number">Card Number</label>
                        <input id="card-number" class="large-9" name="number" type="number" ng-model="newCard.number" placeholder="Card number..." ng-change="validateCardNumber(newCard.number)" required=""/>
                    </div>
                    <div class="large-6 small-12 column">
                        <label for="card-cvc">CVC Code</label>
                        <input id="card-cvc" name="cvc" type="number" ng-model="newCard.cvc" ng-change="validateCVC(newCard.cvc)" required/>
                    </div>
                    <div class="large-6 small-12 column">
                        <select class="pull-left" name="month" ng-model="newCard.exp_month" ng-options="months.indexOf(m) as m for m in months"  ng-change="validateMonth(newCard.exp_month)"></select>

                    </div>
                    <div class="large-6 small-12 column">
                        <select class="pull-right" name="year" ng-model="newCard.exp_year" ng-options="year for year in years"></select>
                    </div>
                    <div class="column small-12" ng-show="isTest(invoice.details.sender.pk)">
                        <div class="alert-box warning">
                            This invoice is using test API keys; therefore, you must use a fake card number
                            (i.e., 4242424242424242). Real card numbers may not validate, and they will not be charged.
                        </div>
                    </div>
                    <div class="small-6 column">
                        <button class="button" ng-click="createToken(invoice, newCard)" ng-disabled="cardForm.$invalid || cardForm.number.$invalid || cardForm.cvc.$invalid || cardForm.exp_month.$invalid || cardForm.month.$pristine">
                            <span ng-hide="invoice.details.token">Add Card</span>
                            <span ng-show="invoice.details.token">Replace Card</span>
                        </button>

                        <a href="https://stripe.com/help/security" class="background-powered-by-stripe" rel="nofollow" target="_blank"></a>
                    </div>
                    <div class="small-6 column">
                        <div class="form-error" ng-show="cardForm.number.$invalid && cardForm.number.$dirty">Invalid card number</div>
                        <div class="form-error" ng-show="cardForm.cvc.$invalid && cardForm.cvc.$dirty">Invalid security code</div>
                        <div class="form-error" ng-show="cardForm.month.$invalid && cardForm.month.$dirty">Invalid month</div>
                        <div class="form-error" ng-show="cardForm.invalidCard">Invalid card details</div>
                    </div>

                </form>

            </div>

            <hr>

            <div class="row">
                <h2>Payment</h2>

                <div class="small-6 column">
                    <button class="button" ng-click="pay(invoice)" ng-disabled="!invoice.details.token || !invoice.details.total">Finalize Payment</button>
                </div>
                <div class="small-6 column">
                    <div ng-hide="invoice.details.sender.pk">Invoice cannot be paid. Sender missing payment information.</div>
                </div>

            </div>
        </div>

        <div ng-show="invoice.charge.id">
            <h2>Charge Complete</h2>

            <div class="row">

                <div class="small-4 column">
                    <label for="charge-date">Date</label>
                    <span id="charge-date">{{ invoice.charge.created | unix | date }}</span>
                </div>

                <div class="small-4 column">
                    <label for="charge-amount">Amount</label>
                    <span id="charge-amount">{{ invoice.charge.amount | currency }}</span>
                </div>

                <div class="small-4 column">
                    <label for="charge-card">Card</label>
                    <span id="charge-card">Visa: ******{{ invoice.charge.card.last4 }}</span>
                </div>
            </div>
        </div>

    </div>
</div>