<h1 class="padded-row text-center">Settings</h1>

<br>
<br>

<div class="padded-row">
    <h2 class="centered">Contact</h2>

    <form class="centered" action name="contactForm">
        <div class="row">
            <div class="large-6 medium-12">
                <label for="contact-first-name">First Name</label>
                <input id="contact-first-name" type="text" ng-model="user.settings.contact.first" required/>
            </div>
            <div class="large-6 medium-12">
                <label for="contact-last-name">Last Name</label>
                <input id="contact-last-name" type="text" ng-model="user.settings.contact.last" required/>
            </div>
            <div class="large-12">
                <label for="contact-email">Email</label>
                <input id="contact-email" type="email" ng-model="user.settings.contact.email" required/>
            </div>
            <div class="large-12">
                <label for="contact-phone">Phone</label>
                <input id="contact-phone" type="text" ng-model="user.settings.contact.phone"/>
            </div>
        </div>
        <div class="row">
            <button class="button" ng-click="notify(user.$save)" ng-disabled="contactForm.$invalid">Save Contact</button>
        </div>
    </form>

    <hr>

    <h2 class="centered">Company</h2>

    <form class="centered" action name="companyForm">
        <div class="row">
            <div class="large-12">
                <label for="company-name">Company Name</label>
                <input id="company-name" type="text" ng-model="user.settings.company.name" required/>
            </div>
        </div>
        <div class="row">
            <div class="large-12">
                <label for="company-phone">Company Phone</label>
                <input id="company-phone" type="text" ng-model="user.settings.company.phone"/>
            </div>
        </div>
        <div class="row">
            <div class="large-12">
                <label for="company-address">Company Address</label>
                <textarea id="company-address" ng-model="user.settings.company.address"></textarea>
            </div>
        </div>
        <button class="button" ng-click="notify(user.$save)" ng-disabled="companyForm.$invalid">Save Company</button>
    </form>

    <hr>

    <h2 class="centered">Payment</h2>

    <form class="centered" action name="stripeForm">
        <div class="row">
            <div class="large-6 medium-12">
                <label for="stripe-secret-key-test">Stripe Test Secret Key</label>
                <input id="stripe-secret-key-test" type="text" ng-model="user.settings.stripe.sk_test" required/>
            </div>
        </div>
        <div class="row">
            <div class="large-6 medium-12">
                <label for="stripe-public-key-test">Stripe Test Public Key</label>
                <input id="stripe-public-key-test" type="text" ng-model="user.settings.stripe.pk_test" required/>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="large-6 medium-12">
                <label for="stripe-secret-key">Stripe Live Secret Key</label>
                <input id="stripe-secret-key" type="text" ng-model="user.settings.stripe.sk" required/>
            </div>
        </div>
        <div class="row">
            <div class="large-6 medium-12">
                <label for="stripe-public-key">Stripe Live Public Key</label>
                <input id="stripe-public-key" type="text" ng-model="user.settings.stripe.pk" required/>
            </div>
        </div>
        <button class="button" ng-click="notify(user.$save)" ng-disabled="stripeForm.$invalid">Save Payment</button>
    </form>


</div>