<h1 class="padded-row text-center">Settings</h1>

<br>
<br>

<div class="padded-row centered">

    <fieldset>
        <div class="row">
            <div class="small-12">
                <h2>Credit Card</h2>

                <p>
                    Save a credit card, then select your plan. We won't charge your card until you've selected your
                    plan.
                </p>
                <br>
                <p>
                    You can cancel at any time during the trial period without being charged, and if you cancel
                    an active subscription, you will retain access to Quiver Invoice through the end of your
                    subscription.
                </p>
                <br>
                <p>
                    Email <a href="mailto:chris@quiver.is">chris@quiver.is</a> with any questions. My wife
                    <a href="http://melissaesplin.com">Melissa Esplin</a> and I work on Quiver Invoice and other
                    similar projects full time, so we're always available and happy to help.
                </p>

                <br>

                <div ng-show="user.subscription.token">
                    <br>
                    <table class="card-details small-12">
                        <thead>
                        <tr>
                            <th>Card Number</th>
                            <th>Card Type</th>
                            <th>Expiration Month</th>
                            <th>Expiration Year</th>
                            <!--<th></th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>******{{ user.subscription.token.card.last4 }}</td>
                            <td>{{ user.subscription.token.card.type }}</td>
                            <td>{{ user.subscription.token.card.exp_month }}</td>
                            <td>{{ user.subscription.token.card.exp_year }}</td>
                            <!--<td>-->
                                <!--<a ng-click="removeToken(user.subscription)">Remove</a>-->
                            <!--</td>-->
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

            <form class="row" action name="subscriptionForm" novalidate>

                <div class="large-6 small-12 column">
                    <label for="card-number">Card Number</label>
                    <input id="card-number" class="large-9" name="number" type="number" ng-model="newCard.number" placeholder="Card number..." ng-change="validateCardNumber(newCard.number)" required/>
                </div>
                <div class="large-6 small-12 column">
                    <label for="card-cvc">CVC Code</label>
                    <input id="card-cvc" name="cvc" type="number" ng-model="newCard.cvc" ng-change="validateCVC(newCard.cvc)" placeholder="Verification code..." required/>
                </div>
                <div class="large-6 small-12 column">
                    <select class="pull-left" name="month" ng-model="newCard.exp_month" ng-options="months.indexOf(m) as m for m in months"  ng-change="validateMonth(newCard.exp_month)"></select>

                </div>
                <div class="large-6 small-12 column">
                    <select class="pull-right" name="year" ng-model="newCard.exp_year" ng-options="year for year in years"></select>
                </div>
                <div class="small-6 column right">
                    <button class="button right" ng-click="createToken(newCard)" ng-disabled="subscriptionForm.$invalid || subscriptionForm.number.$invalid || subscriptionForm.cvc.$invalid || subscriptionForm.exp_month.$invalid || subscriptionForm.month.$pristine">
                        <span ng-hide="user.subscription.token">Add Card</span>
                        <span ng-show="user.subscription.token">Replace Card</span>
                    </button>

                </div>
                <div class="small-6 column">
                    <div class="clearfix">
                        <a href="https://stripe.com/help/security" class="background-powered-by-stripe left" rel="nofollow" target="_blank"></a>
                    </div>

                    <br>

                    <div class="form-error" ng-show="subscriptionForm.number.$invalid && subscriptionForm.number.$dirty">Invalid card number</div>
                    <div class="form-error" ng-show="subscriptionForm.cvc.$invalid && subscriptionForm.cvc.$dirty">Invalid security code</div>
                    <div class="form-error" ng-show="subscriptionForm.month.$invalid && subscriptionForm.month.$dirty">Invalid month</div>
                    <div class="form-error" ng-show="subscriptionForm.invalidCard">Invalid card details</div>
                </div>



                <div ng-hide="!user.subscription.customer">
                    <div class="small-12 column">

                        <h2>Select A Plan <i class="fi-heart" ng-click="showCoupon = true"></i></h2>
                        <br>

                        <label for="plan">Plan</label>
                        <select name="plan" id="plan" ng-model="plan.id" ng-change="planChange(plan.id)" ng-options="k as v for (k, v) in planOptions"></select>
                    </div>

                    <div class="small-12 column" ng-show="showCoupon || user.subscription.customer.discount.coupon.id">
                        <div ng-hide="user.subscription.customer.discount.coupon.id">
                            <h2>Add a Coupon Code</h2>
                            <p>
                                You have a coupon code??? That's great! Add it to your subscription here. Make sure to
                                update your subscription.
                            </p>

                            <br>
                        </div>

                        <label class="no-pointer" for="coupon">
                            <span>Discount Code</span>
                            <span ng-show="user.subscription.customer.discount.coupon.id">: {{ user.subscription.customer.discount.coupon.id }}</span>
                        </label>

                        <input id="coupon" type="text" ng-model="coupon" ng-disabled="user.subscription.customer.discount.coupon.id" ng-hide="user.subscription.customer.discount.coupon.id" placeholder="Discount code..."/>
                    </div>

                    <div class="small-12 column">
                        <button class="button right" ng-click="createSubscription(plan.id, coupon)" ng-disabled="!subscription.cancel_at_period_end && !coupon && (!plan || !user.subscription.token.id || !user.subscription.customer.id || plan.id == user.subscription.customer.subscription.plan.id)">
                            <span ng-hide="subscription.empty || subscription.cancel_at_period_end">Update Subscription</span>
                            <span ng-show="subscription.empty && !subscription.cancel_at_period_end">Create Subscription</span>
                            <span ng-show="subscription.cancel_at_period_end">Renew Subscription</span>
                        </button>
                    </div>
                </div>

            </form>

        </div>

    </fieldset>

    <div class="row" ng-hide="subscription.empty">

        <hr>

        <h2>Current Subscription</h2>

        <div class="small-12">
            <table>
                <thead>
                <tr>
                    <th>Subscription</th>
                    <th>Interval</th>
                    <th>Created</th>
                    <th>Charge</th>
                    <th ng-show="subscription.status == 'trialing'">Trial End</th>
                    <th>
                        <span ng-hide="subscription.cancel_at_period_end">Status</span>
                        <span ng-show="subscription.cancel_at_period_end">End Date</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ subscription.plan.name }}</td>
                    <td class="capitalize">{{ subscription.plan.interval }}</td>
                    <td>{{ subscription.plan.created | unix | date }}</td>
                    <td>{{ subscription.plan.amount / 100 | currency }}</td>
                    <td ng-show="subscription.status == 'trialing'">{{ subscription.trial_end | unix | date }}</td>
                    <td>
                        <span ng-hide="subscription.cancel_at_period_end"> {{ subscription.status }}</span>
                        <span ng-show="subscription.cancel_at_period_end">{{ subscription.current_period_end | unix | date }}</span>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td ng-show="subscription.status == 'trialing'"></td>
                    <td colspan="5"></td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="small-12" ng-hide="subscription.cancel_at_period_end">
            <button class="button alert right" ng-click="cancelSubscription()">Cancel Subscription</button>
        </div>
    </div>

    <hr>

    <div class="row">
        <h2>Contact</h2>

        <form action name="contactForm">
            <div class="row">
                <div class="large-6 small-12 column required">
                    <label for="contact-first-name">First Name</label>
                    <input id="contact-first-name" type="text" ng-model="user.settings.contact.first" placeholder="First name..." required/>
                </div>
                <div class="large-6 small-12 column required">
                    <label for="contact-last-name">Last Name</label>
                    <input id="contact-last-name" type="text" ng-model="user.settings.contact.last" placeholder="Last name..." required/>
                </div>
                <div class="large-12 column required">
                    <label for="contact-email">Email</label>
                    <input id="contact-email" type="email" ng-model="user.settings.contact.email" placeholder="Email..." required/>
                </div>
                <div class="large-12 column">
                    <label for="contact-phone">Phone</label>
                    <input id="contact-phone" type="text" ng-model="user.settings.contact.phone" placeholder="Phone number..."/>
                </div>
            </div>
            <!--<div class="row column">-->
            <!--<button class="button right" ng-click="notify(user.$save)" ng-disabled="contactForm.$invalid">Save Contact</button>-->
            <!--</div>-->
        </form>
    </div>

    <hr>

    <div class="row">
        <h2>Company</h2>

        <form action name="companyForm">
            <div class="row">
                <div class="large-6 small-12 column required">
                    <label for="company-name">Company Name</label>
                    <input id="company-name" type="text" ng-model="user.settings.company.name" placeholder="Company name..." required/>
                </div>

                <div class="large-6 small-12 column">
                    <label for="company-phone">Company Phone</label>
                    <input id="company-phone" type="text" ng-model="user.settings.company.phone" placeholder="Company phone..."/>
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <label for="company-address">Company Address</label>
                    <textarea id="company-address" ng-model="user.settings.company.address" placeholder="Company address..."></textarea>
                </div>
            </div>
            <!--<div class="small-12 column">-->
            <!--<button class="button right" ng-click="notify(user.$save)" ng-disabled="companyForm.$invalid">Save Company</button>-->
            <!--</div>-->

        </form>
    </div>

    <hr>

    <div class="row">
        <h2>Accepting Payment</h2>

        <form action name="stripeForm">
            <!--<div class="row">-->
            <!--<div class="large-6 small-12">-->
            <!--<label for="stripe-secret-key-test">Stripe Test Secret Key</label>-->
            <!--<input id="stripe-secret-key-test" type="text" ng-model="user.settings.stripe.sk_test" required/>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="large-6 small-12">-->
            <!--<label for="stripe-public-key-test">Stripe Test Public Key</label>-->
            <!--<input id="stripe-public-key-test" type="text" ng-model="user.settings.stripe.pk_test" required/>-->
            <!--</div>-->
            <!--</div>-->

            <!--<hr>-->
            <div class="row">
                <div class="small-12 column">
                    <p>
                        Don't have a Stripe API account? <a href="https://manage.stripe.com/register">Well go get one!</a>
                        Stripe is painless, it has <a href="https://stripe.com/us/pricing">inexpensive interchange fees</a>, and it
                        deposits funds directly into your bank account.
                    </p>

                    <br>

                    <p>
                        Use your Stripe test API keys for testing the service without charging a real card. Otherwise, make sure to
                        use your live API keys.
                    </p>

                    <br>

                    <h3>Changing Stripe Keys?</h3>
                    <p>
                        Stripe keys are saved to each individual invoice. You must update each invoice's publishable key
                        if you wish to change Stripe API keys for already-created invoices. Also, secret keys are saved to
                        each invoice as soon as the payer inputs credit card information for that invoice, at which point
                        the invoice is frozen and cannot be edited.
                    </p>

                    <br>
                </div>

                <div class="small-6 large-12 column required">
                    <label for="stripe-secret-key">Stripe Secret Key</label>
                    <input id="stripe-secret-key" type="text" ng-model="user.settings.stripe.sk" placeholder="sk_live_..." required/>
                </div>
                <div class="small-6 large-12 column required">
                    <label for="stripe-public-key">Stripe Public Key</label>
                    <input id="stripe-public-key" type="text" ng-model="user.settings.stripe.pk" placeholder="pk_live_..." required/>
                </div>
                <div class="small-12 column">
                    <button class="button right" ng-click="notify(user.$save)" ng-disabled="stripeForm.$invalid">Save Settings</button>
                </div>

            </div>

        </form>

    </div>

    <hr>

    <div class="row">
        <h2>Password Reset</h2>

        <form action name="passwordForm">
            <div class="row">
                <div class="small-12 large-6 column">
                    <label for="old-password">Old Password</label>
                    <input id="old-password" type="password" ng-model="password.old" placeholder="Old password..."/>
                </div>
                <div class="small-12 large-6 column">
                    <label for="new-password">New Password</label>
                    <input id="new-password" type="password" ng-model="password.new" placeholder="New password..."/>
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <button class="button right" ng-click="changePassword(user, password)">Save Password</button>
                </div>
            </div>
        </form>
    </div>

</div>